@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.home-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-radius{
  border-radius: 0 0 3.5rem 0;
}

/* Hide scrollbar for all elements with .scrollbar-none */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header-h1{
  font-family: "Zen Dots", sans-serif;
}
